<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>386150382047-862na2jak99hq9gjf7kmm2dekm1b7ng0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386150382047-862na2jak99hq9gjf7kmm2dekm1b7ng0</string>
	<key>API_KEY</key>
	<string>AIzaSyBT1ZnkEP9vekxeDc1t1iJORyTn-kLz6YY</string>
	<key>GCM_SENDER_ID</key>
	<string>386150382047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cipl.dev1</string>
	<key>PROJECT_ID</key>
	<string>fir-test-92090</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-92090.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:386150382047:ios:282facf92801ffc2</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-92090.firebaseio.com</string>
</dict>
</plist>
