<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>648381017471-67v3uvjuphjm5bvgh8mvao3kal8gu8pl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.648381017471-67v3uvjuphjm5bvgh8mvao3kal8gu8pl</string>
	<key>API_KEY</key>
	<string>AIzaSyDwjgwcSwXJxm_jS3_FIqZsHCffxkfEDpU</string>
	<key>GCM_SENDER_ID</key>
	<string>648381017471</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>institute.consultingmastery.meetingmanager</string>
	<key>PROJECT_ID</key>
	<string>gicm-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gicm-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:648381017471:ios:8a421b5224f2ecbe</string>
	<key>DATABASE_URL</key>
	<string>https://gicm-mobile-app.web.app</string>
</dict>
</plist>
